/*=======================================================================

	❤❤❤ Gumby by Digital Surgeons. ❤❤❤
	
	*** This is where you should keep all of your design specific styles ***
 
 ========================================================================*/

html, body {
  background: white;
}

.head {
  margin-top: 25px;
  padding-top: 8px;
  background: #123456;
  -webkit-box-shadow: inset 0 0 4px 4px #fff;
  -moz-box-shadow: inset 0 0 4px 4px #fff;
  box-shadow: inset 0 0 4px 4px #fff;
}

@media only screen and (max-width: 767px) {
  .head {
    padding-top: 4px;
  }
}

.column, .columns { }
.row { margin-bottom: 25px; }

