/*=======================================================================

	❤❤❤ Gumby by Digital Surgeons. ❤❤❤
	
	*** This is where you should keep all of your TEXT styles ***

 ========================================================================*/

h1 {
  font: bold 48px georgia, times new roman, serif;
  color: #fff;
  letter-spacing: -.05em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
}

p, li {
  font: 16px sans, sans-serif;
  color: black;
}

ul.rounded-list {
  font: 15px sans, sans-serif;
  padding: 0;
}

ul.rounded-list li {
  list-style: disc;
  margin-left: 1em;
}

ol.rounded-list {
  counter-reset: li;
  list-style: none;
  font: 15px sans, sans-serif;
  padding: 0;
}

ol.rounded-list li {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;
}

ol.rounded-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

.ie6 .rounded-list li,
.ie7 .rounded-list li { padding: .4em; }

ol ol { margin: 0 0 0 2em; }

.ie6 ol li,
.ie7 ol li { list-style: decimal; }

.foot p {
  color: #777;
  font-size: 10pt;
}

a { color: #47b; }

a:hover {
  color: #47b;
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  h1 {
    font: bold 36px 'Lustria', times new roman, serif;
  }
}

 /* ==|== media queries ======================================================
    PLACEHOLDER Media Queries for Responsive Design.
    These override the primary ('mobile first') styles
    Modify as content requires.
    ========================================================================== */

 @media only screen and (min-width: 480px) {
   /* Style adjustments for viewports 480px and over go here */

 }

 @media only screen and (min-width: 768px) {
   /* Style adjustments for viewports 768px and over go here */

 }
